---
page_title: "OPNsense Provider"
description: |-
  The OPNsense provider is used to provision resources on an OPNsense instance.
---

# OPNsense Provider

This provider is used for provisioning and interacting with resources on an [OPNsense](https://opnsense.org/) instance. It aims to support only functionality officially supported by the OPNsense API.

The provider needs to be configured with the proper endpoints and credentials before it can be utilised.

## API Key

The provider uses the OPNsense API to perform operations on the OPNsense instance. An API key is required. Perform the following steps on your OPNsense instance:

1. (Optional) Create a new user for the provider
1. (Optional) Create a new group with the required privileges for the provider and assign your user to the group
1. Create an API key for the user with the required privileges (`System > Access > Users > [your-user] > API keys`)

### Privileges

The provider requires the following permissions on your OPNsense server.

- `Interfaces: Groups: Edit`
- `Firewall: Alias: Edit`
- `Firewall: Automation: Filter`
- `Firewall: Automation: Source NAT`
- `Firewall: Categories`
- `Firewall: NAT: 1:1`
- `Firewall: NAT: NPTv6`
- `Firewall: Shaper`
- `Services: Captive Portal`
- `Status: Interfaces`
- `System: Gateways`

> The provider could potentially work with stricter privileges. However, it is not guaranteed to do so and has only been tested with the above mentioned list.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
